@use '@/styles/variables' as *;

.job-detail-empty {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  font-size: 24px;
  color: #999;
}

.job-detail {
  // width: 100%;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 15px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }

  &__company {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: 18px;
    font-weight: bold;
  }

  &__actions {
    display: flex;
    gap: 10px;
  }

  &__apply-btn {
    padding: 12px 16px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: $primary-color;
    color: #fff;

    &:hover {
      background-color: $hover-color;
    }
  }

  &__overview,
  &__summary,
  &__company-overview {
    margin-bottom: 20px;
  }

  &__title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__list {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 6px;
    }
  }

  &__estimated {
    color: #999;
    font-style: italic;
  }

  &__deadline {
    color: red;
    font-weight: bold;
    margin-left: 5px;
  }
}

.back-button {
  padding: 50px;
}

@media (max-width: 768px) {
  .job-detail {
    // width: 0%;
  }
}