@use '@/styles/variables' as *;

.main-search {
  width: 60%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  &__container {
    display: flex;
    flex-wrap: nowrap;
    gap: 16px;
    justify-content: center ;
    align-items: flex-end;
  }

  &__field {
    flex: 1 1 0;
    min-width: 0;
  }

  &__field--small {
    flex: 0 0 auto;
  }

  &__input {
    width: 95%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 14px;
    font-size: 16px;

    &:focus {
      outline: none;
      border-color: $primary-color;
    }

    &::placeholder {
      color: #999;
    }
  }

  &__select {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 14px;
    font-size: 16px;

     &:focus {
      outline: none;
      border-color: $primary-color;
    }

    &::placeholder {
      color: #999;
    }
  }



  &__button {
    flex: 0 0 auto;
    padding: 12px 25px;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 14px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
    white-space: nowrap;

    &:hover {
      background-color: $hover-color;
    }
  }
}

@media (max-width: 768px) {
  .main-search{
    width: 80%;
  }

  .main-search__container {
    padding-top: 46px;
    flex-direction: column;
    align-items: stretch;
    gap: 15px;
  }

  .main-search__field {
    flex: auto;
  }

  .main-search__button {
    width: 100%;
    text-align: center;
  }
}
