@use '@/styles/variables' as *;

.main-search-container {
  // width: 90%;
  display: flex;
  gap: 12px;
  padding: 1rem 1rem 1rem 92px;
  justify-content: flex-start;
}

.search-select {
  flex: 1;
  position: relative;

  &__input {
    width: 45%;
    padding: 8px 12px;
    border: 1px solid $border-color;
    border-radius: 4px;
    background-color: $input-background-color;
    color: $text-color;
    font-size: 1rem;
    outline-offset: 2px;

    &:focus-visible {
      border-color: $border-color;
      box-shadow: 0 0 4px $primary-color;
    }
    &:focus-visible {
      border-color: $border-color;
      box-shadow: 0 0 4px $primary-color;
    }
  }

  &__dropdown {
    width: 100%;
    position: relative;

    &--open {
      .search-select__options {
        display: block;
      }
    }
  }

  &__toggle {
    width: 100%;
    padding: 8px 12px;
    font-size: 1rem;
    color: $text-color;
    background: $input-background-color;
    border: 1px solid $border-color;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;

    &:hover,
    &:focus {
      border-color: $hover-color;
      outline: none;
    }
  }

  &__arrow {
    font-size: 0.7rem;
    color: $secondary-text-color;
    margin-left: 8px;
  }

  &__options {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 4px;
    background: white;
    border: 1px solid $border-color;
    border-radius: 4px;
    max-height: 180px;
    overflow-y: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    padding: 0;
    list-style: none;
  }

  &__option {
    padding: 8px 12px;
    cursor: pointer;
    color: $text-color;

    &:hover,
    &:focus {
      background-color: $hover-color;
      color: white;
      outline: none;
    }

    &--selected {
      background-color: $selected-color;
      color: $primary-color;
      font-weight: 600;
    }
  }
}

@media (max-width: 769px) {
  .main-search-container {
    flex-direction: column;
    padding: 1rem;
  }

  .search-select__input {
    width: 92%;
    margin-bottom: 12px;
  }

  .search-select {
    width: 100%;
  }
}