@use '@/styles/variables' as *;

.search-select {
  width: 90%;
  margin: auto;
  padding: 1rem 1rem 1rem 48px;
  display: flex;
  gap: 12px;
  color: $text-color;

  &__input {
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    padding: 8px 12px;
    border: 1px solid $border-color;
    border-radius: 4px;
    background-color: $input-background-color;
    color: $text-color;
    font-size: 1rem;
    outline-offset: 2px;

    &:focus {
      border-color: $primary-color;
      box-shadow: 0 0 4px $primary-color;
    }
  }

  &__dropdown {
    position: relative;
    max-width: 300px;
    min-width: 200px;

    &--open {
      .search-select__options {
        display: block;
        max-width: 300px;
        min-width: 200px;
        z-index: 1000;
      }
    }
  }

  &__toggle {
    width: 100%;
    padding: 8px 12px;
    font-size: 1rem;
    color: $text-color;
    background: $input-background-color;
    border: 1px solid $border-color;
    border-radius: 4px;
    cursor: pointer;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;

    &:hover,
    &:focus {
      border-color: $hover-color;
      outline: none;
    }
  }

  &__arrow {
    font-size: 0.7rem;
    color: $secondary-text-color;
    margin-left: 8px;
  }

  &__options {
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 4px;
    background: white;
    border: 1px solid $border-color;
    border-radius: 4px;
    max-height: 180px;
    overflow-y: auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    z-index: 10;
    padding: 0;
    list-style: none;
  }

  &__option {
    padding: 8px 12px;
    cursor: pointer;
    color: $text-color;

    &:hover,
    &:focus {
      background-color: $hover-color;
      color: white;
      outline: none;
    }

    &--selected {
      background-color: $selected-color;
      color: $primary-color;
      font-weight: 600;
    }
  }
}

@media (max-width: 769px) {
  .search-select {
   flex-direction: column;
   margin: 0;
   padding: 1rem;
  }

  .search-select__input {
    width: 95%;
    max-width: none;
    margin-bottom: 12px;
  }

  .search-select__dropdown {
    width: 100%;
    max-width: none;
  }
}