.job-card-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    // width: 60%;
    max-height: 600px;
    overflow-y: auto;
}

/* Scrollbar Styles */
.job-card-list::-webkit-scrollbar {
    width: 6px; /* Thin scrollbar */
  }
  
  .job-card-list::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .job-card-list::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2); /* Light gray thumb */
    border-radius: 4px;
  }
  
  /* Optional: Firefox support */
  .job-card-list {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
  }

.job-card {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    position: relative;

    &--active {
        border-left: 4px solid #007bff;
        background-color: #f9fbff;
    }

    &__logo {
        margin-right: 1rem;
        display: flex;
        align-items: center;

        &-icon {
            font-size: 2rem;
        }
    }

    &__details {
        flex: 1;

        &>* {
            margin: 0.2rem 0;
        }
    }

    &__title {
        font-size: 1rem;
        font-weight: 600;
        color: #2b2b2b;
    }

    &__company {
        font-size: 0.8rem;
        color: #666;
        padding-bottom: 15px;
    }

    &__location,
    &__salary {
        font-size: 0.85rem;
        color: #444;
    }

    &__info-box {
        display: flex;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
        // margin-top: 0.5rem;
        font-size: 0.7rem;
        color: #555;
    }

    &__rating {
        position: absolute;
        top: 1rem;
        left: 1rem;
        background: #fff;
        border-radius: 999px;
        padding: 0.2rem 0.5rem;
        display: flex;
        align-items: center;
        font-size: 0.75rem;
        box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

        &-value {
            margin-left: 0.2rem;
        }
    }
}

@media (max-width: 769px) {
    .job-card-list {
        width: 90%;
        overflow-y: hidden;
    }
}