.admin-panel {
    padding-top: 150px;
    display: flex;

    &__navigation {
        width: 20%;
        height: 100vh;
        background-color: rgb(82, 79, 79);

        ul {

            li {
                color: white;
            }
        }
    }

    &__area {
        width: 100%;
        margin-left: 20px;
        display: flex;
        background-color: antiquewhite;
    }
}